@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Login form span.help-block {
  font-size: 16px;
  padding-bottom: 10px;
  color: lightblue;
}

.Login {
    background-color: #282c34;
    color: lightblue;
}

button {
    color: black;
    background-color: white;

}

body {
    background-color: #282c34;
}
